{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block body %}
<div class="container-fluid">
 <div class="jumbotron shadow p-3 mb-5 bg-light rounded">
        <h1 class="my-4 text-center text-lg-left">Your Top Artists</h1>
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-3  active">
                   <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href= {% if artisturls.0 %}{{artisturls.0}}{% endif %} title="image 1" class="thumb">
                          <!-- <img class="img-fluid mx-auto d-block" src= {% if artist1img %}{{artist1img}}{% endif %} alt="slide 1"> -->
                          <img class="img-fluid mx-auto d-block" src= {% if artistimgs.0 %}{{artistimgs.0}}{% endif %} alt="slide 1">

                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                   <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.1 %}{{artisturls.1}}{% endif %} title="image 3" class="thumb">
                         <img class="img-fluid mx-auto d-block" src={% if artistimgs.1 %}{{artistimgs.1}}{% endif %} alt="slide 2">
                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                   <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.2 %}{{artisturls.2}}{% endif %} title="image 4" class="thumb">
                         <img class="img-fluid mx-auto d-block" src={% if artistimgs.2 %}{{artistimgs.2}}{% endif %} alt="slide 3">
                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.3 %}{{artisturls.3}}{% endif %} title="image 5" class="thumb">
                         <img class="img-fluid mx-auto d-block" src={% if artistimgs.3 %}{{artistimgs.3}}{% endif %} alt="slide 4">
                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                  <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.4 %}{{artisturls.4}}{% endif %} title="image 6" class="thumb">
                          <img class="img-fluid mx-auto d-block" src={% if artistimgs.4 %}{{artistimgs.4}}{% endif %} alt="slide 5">
                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                   <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.5 %}{{artisturls.5}}{% endif %} title="image 7" class="thumb">
                          <img class="img-fluid mx-auto d-block" src={% if artistimgs.5 %}{{artistimgs.5}}{% endif %} alt="slide 6">
                        </a>
                      </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                   <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.6 %}{{artisturls.6}}{% endif %} title="image 8" class="thumb">
                          <img class="img-fluid mx-auto d-block" src={% if artistimgs.6 %}{{artistimgs.6}}{% endif %} alt="slide 7">
                        </a>
                      </div>
                    </div>
                </div>
                 <div class="carousel-item col-md-3  ">
                    <div class="panel panel-default">
                      <div class="panel-thumbnail">
                        <a href={% if artisturls.7 %}{{artisturls.7}}{% endif %} title="image 2" class="thumb">
                         <img class="img-fluid mx-auto d-block" src={% if artistimgs.7 %}{{artistimgs.7}}{% endif %} alt="slide 8">
                        </a>
                      </div>
                      
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
  </div>  

  <div class="container-fluid">
        <div class="jumbotron shadow p-3 mb-5 bg-light rounded">
        <h1 class="my-4 text-center text-lg-left">Shows Based on Your Library</h1>
  
        <!-- <div class="row text-center text-lg-left"> -->
  


          {% autoescape off %}
            {{ divs }}
          {% endautoescape %}
        <!-- </div> -->
      </div>
  </div>



{% endblock body %}
