{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block body %}

<div class="row" style="margin-top: 100px; margin-left: 20px;">
    <div class="col-md-5">
        
        <div class="jumbotron shadow p-3 mb-5 bg-light rounded" style="text-align:center;">
            <img src = {{IMG}} width="70%" height="280">
        </div>
    

    </div>
    
    
    
    <div class="col-md-7">
        
        
      
        <div class="jumbotron shadow p-3 mb-5 bg-light rounded">
            <div class="container-fluid" style="height: 400px;">

                <div class="jumbotron shadow p-3 mb-5 bg-light rounded">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><b>Username: </b>{{user}}</li>
                      <li class="list-group-item"><b>Default Location: </b>{{request.user.location}}
                        <button class="btn btn-sm btn-light float-right" id="test" type="button">
                            <a href="/newuser/">Change Default Location</a>
                        </button>
                      </li>
                      <li class="list-group-item">
                      <a href={{spotifyid}}> <b>Spotify Account </b></a></li>
                    </ul> 
                </div>
              </div>
        </div>


    </div>
</div>















{% endblock body %}
